<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>NewsCollab - Home Page</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/home.css') }}">
  </head>
  <body>
    <nav>
      <!-- <img src="{{ url_for('.static', filename='images/News3.png') }}" alt="logo" width="120" height="80"> -->
      <h1>NewsCollab</h1>
      <ul class="topnav-links">
        <li>
          <a onclick="switchVisible();" class="trending" href="#">Trending</a>
        </li>
        <li>
          <a href="#">Categories</a>
        </li>
        <li>
          {% if session['logged_in'] %}
          <a href="{{ url_for('user_bp.user_profile') }}">{{ username }}</a>
          {% endif %}
        </li>
        <li>
          {% if session['logged_in'] %}
          <a href="{{ url_for('login_bp.logout') }}">Logout</a>
          {% else %}
          <a href="{{ url_for('login_bp.login_page') }}">Login</a>
          {% endif %}
        </li>
        {% if not session['logged_in'] %}
          <li>
            <a href="{{ url_for('login_bp.register') }}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <!-- trending page -->

    <section id="trending">
      <div>HERE IS THE TRENDING PAGE</div>
      <div class="cat-container">
        <div class="cat-row">
          <div class="cat-column">
            <h2>Cat-1-:</h2>
            <div class="row">
              <div class="column" style="background-color:#aaa;">
                <h2>Column 1</h2>
                <p>Some text..</p>
              </div>
              <div class="column" style="background-color:#bbb;">
                <h2>Column 2</h2>
                <p>Some text..</p>
              </div>
              <div class="column" style="background-color:#ccc;">
                <h2>Column 3</h2>
                <p>Some text..</p>
              </div>
            </div>
          </div>
          <div class="cat-column">
            <h2>cat-2-:</h2>
            <div class="row">
              <div class="column" style="background-color:#aaa;">
                <h2>Column 1</h2>
                <p>Some text..</p>
              </div>
              <div class="column" style="background-color:#bbb;">
                <h2>Column 2</h2>
                <p>Some text..</p>
              </div>
              <div class="column" style="background-color:#ccc;">
                <h2>Column 3</h2>
                <p>Some text..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <a href="{{ url_for('parser_bp.all_news') }}">go to news</a><br>
    <a href="{{ url_for('parser_bp.all_sports') }}">go to sports</a><br>
    <a href="{{ url_for('parser_bp.all_music') }}">go to music</a><br>
    <a href="{{ url_for('parser_bp.all_lifestyle') }}">go to lifestyle</a><br>

    <!-- Article area -->
    <article id="article">
      <!-- Cats 1 and 2 -->
      <div class="cat-row">
        <div class="cat-column">
          <h2>Sports</h2>
          <div class="row">
            {% for i in range(0, 3) %}
            <div class="column" style="background-color:#aaa;">
              <h2>4</h2>
              <p>Some text..</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="cat-row">
        <div class="cat-column">
          <h2>cat-2-:</h2>
          <div class="row">
            {% for i in range(0, 3) %}
            <div class="column" style="background-color:#aaa;">
              <h2>5</h2>
              <p>Some text..</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="cat-row">
        <div class="cat-column">
          <h2>cat-2-:</h2>
          <div class="row">
            {% for i in range(0, 3) %}
            <div class="column" style="background-color:#aaa;">
              <h2>5</h2>
              <p>Some text..</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="cat-row">
        <div class="cat-column">
          <h2>cat-2-:</h2>
          <div class="row">
            {% for i in range(0, 3) %}
            <div class="column" style="background-color:#aaa;">
              <h2>5</h2>
              <p>Some text..</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="cat-row">
        <div class="cat-column">
          <h2>cat-2-:</h2>
          <div class="row">
            {% for i in range(0, 3) %}
            <div class="column" style="background-color:#aaa;">
              <h2>5</h2>
              <p>Some text..</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="cat-row">
        <div class="cat-column">
          <h2>cat-2-:</h2>
          <div class="row">
            {% for i in range(0, 3) %}
            <div class="column" style="background-color:#aaa;">
              <h2>5</h2>
              <p>Some text..</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    <script src="{{ url_for('.static', filename='js/visibility.js') }}"></script>
  </body>
</html>
