<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>NewsCollab - Home Page</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/article.css') }}">
  </head>
  <body>
    <nav>
      <span id="date_time"></span>
      <!-- <h1>NewsCollab</h1> -->
      <img src="{{ url_for('.static', filename='images/vinculum-2.png') }}" width="215" height="60" alt="logo">
      <ul class="topnav-links">
        <li>
          <a id="active" href="{{ url_for('home_bp.home_main') }}">Home</a>
        </li>
        <li>
          <a onclick="switchVisible();" class="trending" href="#">Trending</a>
        </li>
        <li>
          <div class="dropdown">
            <a class="dropbtn">Categories</a>
            <div class="dropdown-content">
              <a href="{{ url_for('parser_bp.all_news') }}">News</a>
              <a href="{{ url_for('parser_bp.all_sports') }}">Sports</a>
              <a href="{{ url_for('parser_bp.all_music') }}">Music</a>
              <a href="{{ url_for('parser_bp.all_lifestyle') }}">Lifestyle</a>
            </div>
          </div>
        </li>
        <li>
          {% if session['logged_in'] %}
          <a href="{{ url_for('user_bp.user_profile') }}">{{ username }}</a>
          {% endif %}
        </li>
        <li>
          {% if session['logged_in'] %}
          <a href="{{ url_for('login_bp.logout') }}">Logout</a>
          {% else %}
          <a href="{{ url_for('login_bp.login_page') }}">Login</a>
          {% endif %}
        </li>
        {% if not session['logged_in'] %}
          <li>
            <a href="{{ url_for('login_bp.register') }}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <!-- trending page -->

    <section id="trending">
      <div>HERE IS THE TRENDING PAGE</div>
      <div class="cat-container">
        <div class="cat-row">
          <div class="cat-column">
            <h2>Cat-1-:</h2>
            <div class="row">
              <div class="column" style="background-color:#aaa;">
                <h2>Column 1</h2>
                <p>Some text..</p>
              </div>
              <div class="column" style="background-color:#bbb;">
                <h2>Column 2</h2>
                <p>Some text..</p>
              </div>
              <div class="column" style="background-color:#ccc;">
                <h2>Column 3</h2>
                <p>Some text..</p>
              </div>
            </div>
          </div>
          <div class="cat-column">
            <h2>cat-2-:</h2>
            <div class="row">
              <div class="column" style="background-color:#aaa;">
                <h2>Column 1</h2>
                <p>Some text..</p>
              </div>
              <div class="column" style="background-color:#bbb;">
                <h2>Column 2</h2>
                <p>Some text..</p>
              </div>
              <div class="column" style="background-color:#ccc;">
                <h2>Column 3</h2>
                <p>Some text..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Article area -->
    <article id="article">
      <div class="cat-row">
        <div class="cat-column-left">
          <h2 id="h2-realign">News</h2>
            {% for i in range(0, 3) %}
            <div class="post-row" id="right">
              <div class="post-column">
                <img class="grow" src="{{ best_news[i][2] }}" width="400" height="250">
              </div>
              <div class="post-column">
                <a href="{{ best_news[i][3] }}" target="_blank"><h3>{{ best_news[i][1] }}</h3></a>
                <p>{{ best_news[i][4] }}</p>
              </div>
            </div>
            {% endfor %}
        </div>
        <div class="cat-column-right">
          <h2 id="h2-realign">Music</h2>
          <div class="row">
            {% for i in range(0, 3) %}
            <div class="post-row" id="right">
              <div class="post-column">
                <img class="grow" src="{{ best_music[i][2] }}" width="180" height="130">
              </div>
              <div class="post-column">
                <a href="{{ best_music[i][3] }}" target="_blank"><h3>{{ best_music[i][1] }}</h3></a>
                <p>{{ best_music[i][4] }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>

    <!-- <footer>
      <p>jdfbgkvdkfreb</p>
    </footer> -->

    <script src="{{ url_for('.static', filename='js/visibility.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/display_date.js') }}"></script>
  </body>
</html>
