<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>NewsCollab - Home Page</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/article.css') }}">
  </head>
  <body>
    <nav style="margin-bottom: 0;">
      <!-- <h1>NewsCollab</h1> -->
      <img src="{{ url_for('.static', filename='images/vinculum-2.png') }}" width="215" height="60" alt="logo">
      <ul class="topnav-links">
        <li>
          <a href="{{ url_for('home_bp.home_main') }}">Home</a>
        </li>
        <li>
          <a onclick="switchVisible();" class="trending" href="#">Trending</a>
        </li>
        <li>
          <div class="dropdown">
            <a class="dropbtn">Categories</a>
            <div class="dropdown-content">
              <a href="{{ url_for('parser_bp.all_news') }}">News</a>
              <a href="{{ url_for('parser_bp.all_sports') }}">Sports</a>
              <a href="{{ url_for('parser_bp.all_music') }}">Music</a>
              <a href="{{ url_for('parser_bp.all_lifestyle') }}">Lifestyle</a>
            </div>
          </div>
        </li>
        <li>
          {% if session['logged_in'] %}
          <a href="{{ url_for('user_bp.user_profile') }}">{{ username }}</a>
          {% endif %}
        </li>
        <li>
          {% if session['logged_in'] %}
          <a href="{{ url_for('login_bp.logout') }}">Logout</a>
          {% else %}
          <a href="{{ url_for('login_bp.login_page') }}">Login</a>
          {% endif %}
        </li>
        {% if not session['logged_in'] %}
          <li>
            <a id="active" href="{{ url_for('login_bp.register') }}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <article class="container">
      <div class="row">
        <div class="column">
          <div class="box">
            <h1>Sign up to Vinculum</h1>
            <form action="/userRegistration" method="POST">
              <input type="text" placeholder="Name" name="name">
              <input type="username" placeholder="Username" name="username">
              <input type="email" placeholder="E-mail" name="email">
              <input type="password" placeholder="Password" name="password">
              <input type="password" placeholder="Confirm Password" name="confirm">
              <input type="submit" name="submit" value="Sign Up">
            </form>
          </div>
        </div>
        <div class="column">
          <img style="margin-left: 294px;" src="{{ url_for('.static', filename='images/side-background.svg') }}" alt="pic" width="463" height="679">
        </div>
      </div>
    </article>
  </body>
</html>
